#corpo{
    background-color: white;
}
#titulo{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline ;
    color: rgb(0, 0, 0);
}
#nav{
    text-align: center;
    text-decoration: overline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#infos{
    font-size: 15px;
    text-align: center;
}